#grassBtn {
    background-color: green;
    border-width: 5px;
    border-radius: 20px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 17px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
#grassBtn:hover {
    opacity: 1;
}

#grassEaterBtn {
    background-color: yellow;
    border-width: 5px;
    border-radius: 20px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 17px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
#grassEaterBtn:hover {
    opacity: 1;
}

#predatorBtn {
    background-color: red;
    border-width: 5px;
    border-radius: 20px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 17px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
#predatorBtn:hover {
    opacity: 1;
}

#virusBtn {
    background-color: lime;
    border-width: 5px;
    border-radius: 20px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 17px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
#virusBtn:hover {
    opacity: 1;
}

#doctorBtn {
    background-color: aqua;
    border-width: 5px;
    border-radius: 20px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 17px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
#doctorBtn:hover {
    opacity: 1;
}


#weatherBtn {
    background-color: lime;
    border-width: 5px;
    border-radius: 20px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 17px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
#weatherBtn:hover {
    opacity: 1;
}

#boomBtn {
    background-color: blue;
    border-width: 5px;
    border-radius: 20px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 17px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
#boomBtn:hover {
    opacity: 1;
}